name: CI
on:
  push:
    branches:
      - master
    tags: ['*']
  pull_request:
  workflow_dispatch:
concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    permissions: # needed to allow julia-actions/cache to proactively delete old caches that it has created
      actions: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        version: ['1.11'] # - '1.6'
        os: [ubuntu-latest]
        arch: [x64]
        include:
          - os: ubuntu-latest
            prefix: xvfb-run
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Julia
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}

    - name: Cache Julia artifacts
        uses: julia-actions/cache@v2

      # - name: Install binary dependencies
      #   if: startsWith(matrix.os, 'ubuntu')
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y xorg-dev mesa-utils xvfb libgl1 freeglut3-dev libxrandr-dev libxinerama-dev libxcursor-dev libxi-dev libxext-dev xsettingsd x11-xserver-utils

      - name: Build package
        uses: julia-actions/julia-buildpkg@v1
        with:
            prefix: ${{ matrix.prefix }}

      - uses: julia-actions/julia-runtest@v1
        with:
            prefix: ${{ matrix.prefix }}
